* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
main{
       background-color: rgba(83, 85, 85, 0.442);
}
header {
    background-color: rgb(255, 228, 196);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

header h2 {
    font-size: xx-large;

}

main {
    height: 93.1vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    justify-content: center;
}

.out-box1 {
    display: flex;
    gap: 3rem;


}

.out-box1 div {
     cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 7rem;
    width: 7rem;
    box-shadow: 0 0 20px 2px black;
    background-color: "";
}

.out-box2 input,
button {

    height: 2.4rem;
    width: 17rem;
}.out-box2 input{
    padding-left: 4px;
    font-size: medium;
}

.out-box2 button {
    height: 2.7rem;
    width: 5rem;
    border: none;
    background-color: gray;
}